.frame_cover{
    width:1000px;
    height:180px;
    margin-left:auto; margin-right:auto;
    background-color:rgb(6, 77, 105);
    color:white;
    padding: 10px;
    justify-content:center; 
    align-items:center;
    font-family:Microsoft JhengHei;
    font-size:44px;
}

.frame_bar{
    width:1000px;
    height:30px;
    margin-left:auto; margin-right:auto;
    display:flex;
    background-color:wheat;
    padding:10px;
    justify-content:center; 
    align-items:center;
    font-family:Microsoft JhengHei;
    font-size:20px;
}

.frame_home{
    width:1000px;
    display:flex;
    margin-left:auto; margin-right:auto;
    background-color:ivory;
    padding:10px;
    justify-content:center; 
    align-items:center;
}

.frame_resume{
    width:1000px;
    display:flex;
    margin-left:auto; margin-right:auto;
    background-color: ivory;
    padding:10px;
    justify-content:center; 
}

.frame_Performance{
    width:1000px;
    margin-left:auto; margin-right:auto;
    background-color:ivory;
    padding:10px;
    justify-content:center;
    align-items:center;
}

.frame_eachPerformance{
    width:1000px;
    margin-left:auto; margin-right:auto;
    margin-bottom: 40px;
    background-color:ivory;
    display:flex;
    justify-content:center;
    align-items:center;
}

.col_eachPerformanceName{
    width:1000px;
    margin-left:auto; margin-right:auto;
    margin-top:20px; margin-bottom:10px;
    background-color:ivory ;
    color:rgb(6, 77, 105);
    font-family:Microsoft JhengHei;
    font-weight: bold;
    font-size: 22px;
}

.frame_Interest{
    width:1000px;
    margin-left:auto; margin-right:auto;
    background-color:ivory;
    padding:10px;
}

.frame_eachInterest{
    width:1000px;
    margin-left:auto; margin-right:auto;
    margin-top:20px; margin-bottom: 20px;
    display:flex;
    background-color:ivory;
    justify-content:center;
    align-items:center;
}

.frame_Programming{
    width:1000px;
    margin-left:auto; margin-right:auto;
    display:flex;
    background-color:ivory;
    padding:10px;
    justify-content:center;
    align-items:center;
}

.col_eachProgramming{
    width:1000px;
    margin-left:auto; margin-right:auto;
    display:flex;
    background-color:ivory;
    justify-content:center;
    align-items:center;
}

.col_eachProgrammingName{
    width:420px;
    margin-left:auto; margin-right:auto;
    margin-top:20px; margin-bottom:5px;
    background-color:ivory;
    justify-content:center;
    align-items:center;
    text-align: center;
    color:rgb(6, 77, 105);
    font-size:22px; 
    font-weight:bolder;
    font-family:Microsoft JhengHei;
}

.col_eachProgrammingImage{
    width:420px;
    margin-left:auto; margin-right:auto;
    margin-bottom:40px;
    background-color:ivory;
    justify-content:center; 
    align-items:center;   
}

.col_cover{
    color:rgb(248, 193, 73);
    font-size:16px;
}

.col_bar{
    width:250px;
    height:25px;
    margin:5px;
    background-color: rgb(50, 50, 58);
    color:wheat;
    padding:5px;
    text-align: center;
}

.col_left{
    width:360px;
    margin-top:20px;
    justify-content:center; 
    align-items:center;
}

.col_left_interst{
    width:480px;
    margin-top:20px;
    margin-left:5px;
    background-color: ivory;
    justify-content:center; 
    align-items:center;    
}

.col_right_home{
    width:560px;
    background-color: ivory;
    color:rgb(50, 50, 58);
    margin-left:30px;
    font-size:22px;
    font-family:Microsoft JhengHei;
    line-height:40px;
}

.col_right_resume{
    width:520px;
    background-color: ivory;
    color:rgb(50, 50, 58);
    margin-top:20px;
    margin-left:20px; margin-right:20px;
    font-size:16px;
    font-family:Microsoft JhengHei;
    line-height:32px;
}

.col_right_resume2{
    width:100%;
    background-color: ivory;
    color:rgb(50, 50, 58);
    margin-left:10px;
    font-size:14px;
    font-family:Microsoft JhengHei;
    line-height:24px;
}

.col_right_interest{
    width:480px;
    height:360px;
    margin-left:auto; margin-right:auto;
    background-color: ivory;
    color:rgb(50, 50, 58);
    font-size:16px;
    font-family:Microsoft JhengHei;
    line-height:32px;
    align-items:center;   
}

.col_eachImage{
    width:100%;
    background-color:ivory;
    margin-bottom:40px;
    justify-content:center; 
    align-items:center;   
}

.pfmimg{
    display:block; 
    margin:auto; 
    width:320px; 
    height:240px
}
.prgimg{
    display:block; 
    margin:auto; 
    width:420px; 
    height:315px;
}
.title{
    color:rgb(6, 77, 105);
    font-size:22px; 
    font-weight:bolder;
    font-family:Microsoft JhengHei;
}
